@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body {
  background-color: #1c0d26;
}
.jumbotron {
  background-image: url(/gog-assets/carousel5.jpg);
}
.gloria {
  font-family: "Gloria Hallelujah", cursive;
}
hr {
  color: #f4b13d;
  height: 2px;
  border-width: 0;
  background-color: #f4b13d;
}
.card-title,
.card-text {
  font-size: 13px;
  font-weight: 700;
}

.carousel-control-next,
.carousel-control-prev {
  width: 9% !important;
  background-color: transparent;
}
.vl {
  border-left: 1px solid green;
  height: 20px;
}
.card {
  margin-bottom: 20px;
  /* width: 21rem; */
}
.holder {
  height: 492px;
}

.img-long {
  height: 330px;
  object-fit: cover;
}
.col4 {
  height: 138px;
  object-fit: cover;
}
.img-small {
  width: 130px;
  height: 80px;
}
.collast {
  height: 500px;
  width: 300px;
  object-fit: cover;
}
.img-last-carous {
  /* height: 536px; */
  max-width: 233%;
  object-fit: cover;
}
.carousel-indicators {
  bottom: -35px;
}
a {
  text-decoration: none;
  color: #af3c5a;
}
.txt {
  font-size: 15px;
}
.card-body {
  background-color: #1d7261;
}
.txt-sml {
  text-decoration: line-through;
  font-size: 10px;
  color: #f4b13d;
  font-weight: 700;
}
.percents {
  width: 20px;
  height: 12px;
  background-color: #d94969;
  margin-right: 10px;
  padding: 3px 6px;
}
.windows {
  color: #f4b13d;
  /* padding-left: 10px; */
}
.txx {
  width: 1px;
}
/*************************************/
.first {
  height: 400px;
}
.imgs {
  object-fit: cover;
}
